html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.ant-form {
  .ant-form-item {
    margin-bottom: 0;
  }
}

.ant-menu-item {
  a {

    &:hover,
    &:active,
    &:link {
      text-decoration: none;
    }
  }
}

.ant-table {
  .ant-empty-normal {
    margin: 0;
  }
}
