html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.ant-form {
  .ant-form-item {
    margin-bottom: 0;
  }
}

// amis header 是1200， 比 message 大
// TODO:后续把布局换成 antd 的
.ant-message {
  z-index: 2000;
}
